# tinyrox says don't edit this manually, but it can't stop you!

export(audit_emit)
export(audit_scope_for)
export(audit_two_phase)
export(broker_audit_sink)
export(broker_available)
export(default_audit_sink)
export(encode_json_line)
export(file_audit_sink)
export(is_retryable)
export(memory_audit_sink)
export(new_correlation_id)
export(new_runix_result)
export(new_runner)
export(register_retryable)
export(runix_abort)
export(sys_clock)
export(system_durable_audit_available)

S3method(print,runix_result)

useDynLib(runix, .registration = TRUE, .fixes = "C_")
